<Directory "/path/to/www/directory/">
	AddHandler cgi-script .cgi
	DirectoryIndex index.cgi
	Options ExecCGI
	Order allow,deny
	Allow from all
</Directory>

<Directory "/path/to/webservice/directory/">
	AddHandler cgi-script .cgi
	Options ExecCGI
	Order allow,deny
	Allow from all
</Directory>

<Directory "/path/to/tilecache/directory/">
	AddHandler python-program .py
	AddHandler python-program .cgi
	PythonHandler TileCache.Service
	PythonOption TileCacheConfig /path/to/tilecache/directory/tilecache.cfg
</Directory>

Alias /nddi/services "/path/to/webservice/directory/"
Alias /nddi "/path/to/www/directory/"